#root(style="display:none")
  nav
    a.logo(href="https://bit.ly/33CZ2Br" target="_blank")
      img(src="~images/logo.png")
    .nav-links
      a.nav-link(href="?page=introdution") 產品介紹
      a.nav-link(href="?page=feature") 產品特色
      a.nav-link(href="?page=timing") 換胎時機
  .kv
    .kv-image

  .page#introduction
    .secs
      .sec-banner
        .caption
          .text HOT大聯盟嚴選輪胎花紋
          .under_score
      .sec-banner.sec-1
      .sec-banner.sec-2

    .secs.info
      .sec-1.t-0
      .sec-1.t-1
        .context.t-1
          .h2
            |IECO 綠能輪胎
            .small 節能、舒適，環保先鋒!
          .h3.arrow 奈米材料運用，使膠料分子間鍵接更緊密，降低荷重變形蠕動，減少能量浪費。
          .h3.arrow 高強度材料運用，使輪胎重量最適化，降低滾動阻力，節省油耗。
          .h3.arrow 高反應性橡膠與奈米級白煙粒子應用，使膠料更能服貼於路面，抓地更穩固。
      .sec-1.t-2
        .context.t-2
          .h2
            |ME3 綠能型輪胎
          .h3.arrow 胎面部平整化：胎面部可減少撓曲變形降低滾動阻力與增加剛性。
          .h3.arrow 使用奈米科技技術（N.S.T）的膠料配方具有高溼抓及低滾動阻力的性能。這是藉由 N.S.T. 高分子橡膠的高分散性末端反應端點能與白煙粒子做緊密的連結，可得到優異的高溼抓及低滾動阻力之膠料特性。
          .h3.arrow 新世代環保轎車胎可達歐盟法規等級 (B,B,70dB)。
          .h3.arrow 符合台灣節能輪胎標誌分級B級。
      .sec-1.t-3
        .context.t-1
          .h2
            |HP5 運動操控輪胎
            .small 駕馭濕地及行車安全的好幫手
          .h3.arrow Full-Silica 配方設計，可提升大幅提升濕抓力及操控性能濕。
          .h3.arrow 輪胎花紋多重變化的節距及横溝貫通設計，有效降低胎面噪音與滾動阻力。
          .h3.arrow 胎肩橡膠厚薄肉化及鋼帶平順化設計，優化接地面，提升濕地性能。
      .sec-1.t-4
        .context.t-2
          .h2
            |VS5  操駕型輪胎
          .h3.arrow 濕地之霸的安全感：Full Silica 優越濕地抓地力，提高操控性能。
          .h3.arrow 精準操控的穩定性：HYBRID 材質及強化胎側設計，提高高速安定性與操控性能。
          .h3.arrow 獨特性的胎面花紋：獵豹仿生花紋與 3D 倒角設計，給人時尚與流暢的視覺體驗，並提高整體排水與濕地抓地性能。
      .sec-2.t-0
      .sec-2.t-1
        .context.t-1
          .h2
            |HP600  SUV 輪胎
            //- .small 節能、舒適，環保先鋒!
          .h3.arrow 四道直型花紋溝設計，提升溼地排水性能，增加直線高速性能。
          .h3.arrow 主溝邊緣圓角設計， 支撐胎壁變形提升操控性能，防止溝槽夾石。
          .h3.arrow 多種節距變化設計，優化噪音性能，提升舒適性能。
          .h3.arrow 高剛性胎體簾紗，操控感及車輛高速安定感提升。
          .h3.arrow 特殊胎面膠料配方，乾濕地剎車及過彎時性能提升。
      .sec-2.t-2
        .context.t-2
          .h2
            |HPM3 SUV 輪胎
            .small-more 剎車多一公分都不行，幸福安全SUV首選!
          .h3.arrow 全矽填充材（Full-Silica）胎面配方設計，提升濕地抓力。
          .h3.arrow 4條U型寬主溝設計，增加排水性能。
          .h3.arrow 多節距花紋塊設計，優化噪音性能，提升舒適性能。
          .h3.arrow 高強度胎體簾紗設計，提升操控性能。

    //-   .sec.sec-1
    //-     .caption
    //-       .text 轎車胎各類花紋特色介紹
    //-       .under_score
    //- .secs
    //-   .sec.sec-2
    //-     .caption
    //-       .text 休旅車胎各類花紋特色介紹
    //-       .under_score
  
  .page#feature
    .secs
      div
        img.maxxis(src="~images/maxxis.png")
      .sec
        .context MAXXIS 品牌為正新橡膠工業有限公司於 1992 年美國創立的品牌。多年來 MAXXIS 輪胎以卓越的品質，獲得良好的聲譽、品牌知名度及客戶忠誠度，向世界提供最好的輪胎為核心精神，行銷全球 180 多個國家，全球擁有 30,000 多名員工。
        .mb25
        .h3 追求產品性能與品質穩定
        .context.arrow 持續投入研發設備（研發人員、測試機台設備）
        .mb25
        .h3 品牌在地深耕，具有一定的品牌知名度
        .context.arrow 國產 OE 配胎優勢
        .mb25
        .h3 公司在地化經營，良好的品質，銷售有保障
        .context.arrow 產品責任險（3千5百萬）
        .context.arrow 輪胎保固，讓您銷售有保障
        .mb25
      .sec
        .h3 積極贊助運動或賽車類活動
        .context.arrow 瑪吉斯輪胎連續贊助美國洋基隊 15 年
        .context.arrow 2020 年榮獲台灣最佳國際品牌獎，品牌價值 2.85 億美元
        img.ny_maxxis(src="~images/ny_maxxis.png")
      div(style="clear:both")
  
  .page#timing
    .secs
      .timing-caption 
        |您知道不只是輪胎磨平或爆胎才需要做更換嗎？
        br
        |HOT大聯盟提供您4條換胎時機，
        br
        |掌握正確換胎觀念，就能提高行車安全。
      .sec
        .timing-unit
          img(src="~images/timing_1.jpg")
          .h3 1、輪胎外觀損傷
          .text 輪胎行進中遭路面障礙物或外物損傷，因其輪胎胎體結構已遭破壞，胎體強度降低，不良部份易爆胎危及行車安全。
      .sec
        .timing-unit
          img(src="~images/timing_2.jpg")
          .h3 2、輪胎修補不良
          .text 胎體遭外物刺穿，經修補後，補胎材料與原來車胎強度不一樣，密封程度不高，空氣和水容易進入輪胎，導致胎內鋼絲生銹，影響安全。
      .sec
        .timing-unit
          img(src="~images/timing_3.jpg")
          .h3
            |3、輪胎使用磨平
            .small (胎紋深度低於1.6mm)
          .text 輪胎磨耗至胎面磨秏指標（1.6mm）時，輪胎的抓地性與操控性喪失，行駛積水路面容易產生水漂現象。
      .sec
        .timing-unit
          img(src="~images/timing_4.jpg")
          .h3
            |4、輪胎超過使用年限-建議以5年為限
          .text 當輪胎長期受空氣中氧化作用影響或環境熱源照射，橡膠會產生老化龜裂現象，易造成輪胎強度及彈性喪失。
      .maxxis-care
        img(src="~images/maxxis_care.png")

  footer
    div 本站圖文除使用者發表外，屬HOT好車大聯盟版權所有，非經許可禁止轉載
    div ©2020 HOTCAR. All Rights Reserves.

  .quick-links
    a.home(href="https://bit.ly/2I0s32l" target="_blank")
    a.perserve(href="https://bit.ly/37rAiNF" target="_blank")
    a.share(href="#")