#root(style="display:none")
  nav
    a.logo(href="https://bit.ly/33CZ2Br" target="_blank")
      img(src="~images/logo.png")
    .nav-links
      a.nav-link(href="?page=introdution") 產品介紹
      a.nav-link(href="?page=feature") 產品特色
      a.nav-link(href="?page=timing") 換胎時機
  .kv
    .kv-image

  .page#introduction
    .secs
      .sec-banner
        .caption
          .text HOT大聯盟嚴選輪胎花紋
          .under_score
      .sec-banner.sec-1
      .sec-banner.sec-2

    .secs
      .sec.sec-1
        .caption
          .text 轎車胎各類花紋特色介紹
          .under_score
    .secs
      .sec.sec-2
        .caption
          .text 休旅車胎各類花紋特色介紹
          .under_score
  
  .page#feature
    .secs
      div
        img.maxxis(src="~images/maxxis.png")
      .sec
        .context MAXXIS 品牌為正新橡膠工業有限公司於 1992 年美國創立的品牌。多年來 MAXXIS 輪胎以卓越的品質，獲得良好的聲譽、品牌知名度及客戶忠誠度，向世界提供最好的輪胎為核心精神，行銷全球 180 多個國家，全球擁有 30,000 多名員工。
        .mb25
        .h3 追求產品性能與品質穩定
        .context.arrow 持續投入研發設備（研發人員、測試機台設備）
        .mb25
        .h3 品牌在地深耕，具有一定的品牌知名度
        .context.arrow 國產 OE 配胎優勢
        .mb25
        .h3 公司在地化經營，良好的品質，銷售有保障
        .context.arrow 產品責任險（3千5百萬）
        .context.arrow 輪胎保固，讓您銷售有保障
        .mb25
      .sec
        .h3 積極贊助運動或賽車類活動
        .context.arrow 瑪吉斯輪胎連續贊助美國洋基隊 15 年
        .context.arrow 2020 年榮獲台灣最佳國際品牌獎，品牌價值 2.85 億美元
        img.ny_maxxis(src="~images/ny_maxxis.png")
      div(style="clear:both")

  footer
    div 本站圖文除使用者發表外，屬HOT好車大聯盟版權所有，非經許可禁止轉載
    div ©2020 HOTCAR. All Rights Reserves.

  .quick-links
    a.home(href="https://bit.ly/2I0s32l" target="_blank")
    a.perserve(href="https://bit.ly/37rAiNF" target="_blank")
    a.share