doctype html
html
  head
    meta(http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1")
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title 和運租車提供多元化租賃服務，滿足您多樣化租賃需求! 
    meta(name="keywords" content="租車,設備租賃,重機租賃,和運租車,企業用車租賃")
    meta(name="description" content="手續簡單快捷，【和運租車】提供多元化租賃服務，滿足您經營、製造所需，更能輕鬆取得關鍵資金。")
    meta(property="og:url" content="https://upbeat-babbage-61c534.netlify.com/")
    meta(property="og:type" content="website")
    meta(property="og:title" content="和運租車提供多元化租賃服務，滿足您多樣化租賃需求! ")
    meta(property="og:description" content="手續簡單快捷，【和運租車】提供多元化租賃服務，滿足您經營、製造所需，更能輕鬆取得關鍵資金。")
    meta(property="og:image" content="https://upbeat-babbage-61c534.netlify.com/assets/share.jpg")
    meta(property="og:image:width" content="1200")
    meta(property="og:image:height" content="628")
    script.
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-K9V4Q9M');
  body
    noscript
      iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-K9V4Q9M" height="0" width="0" style="display:none;visibility:hidden")
    include index.pug